<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学习Django</title>
    {#注意这里的static是在settings.py里配置的引用指针#}
    {% load static %}
    <link rel="stylesheet" href="{% static "/css/universal/index.css" %}">
</head>
<body>
<div class="lzhdiv">
    用户提交数据的表单
    <form action="/gosub/" method="post">
        <input type="text" name="username">
        <br>
        <input type="password" name="password">
        <br>
        <input type="submit" value="提交">
    </form>
</div>
<br>
以lst为key获取inptDicLst并展示其内容至表格
<table border="1">
    <tr>
        <th>用户名</th>
        <th>密码</th>
    </tr>
    {#使用Django模板语言做HTML内容替换#}
    {% for line in list %}
        <tr>
            <td>{{ line.user_name }}</td>
            <td>{{ line.password }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>